body {
    background-color: black;
    color: white;
    text-align: center;
}
#links, .comingSoon {
    text-align: center;
}

.comingSoon, #portfolio-header, #home-header {
    font-family: 'Open Sans', sans-serif;    
}




.container {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-right: 50px;
}

a.bodyLink {
    text-decoration: none;
    color: white;
}

a.bodyLink:hover {
    color: lightsalmon;
}

a.link {
    margin-left: 35px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

ul {
    list-style-type: none;
}

#labeled {
    color: white;
}

#labeled:hover {
    cursor: pointer;
}

#dplan, #bacon, #pos {
    cursor: pointer;
}
.project:hover{
    cursor: pointer;
    color: white;
}

#court-info, #dplan-info {
    display:none;
}

#aboutMe, #buttonsFun {
    text-align: center;
}
  


