body {
    background-color: #1b1e23;
    color: white;
}

.container {
    margin-top: 50px;
    font-family: relative-book-pro, Roboto, system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 400;
    margin-left: 400px;
}



#about-tag:hover {
    cursor: pointer;
}

#about-tag {
    margin-left: 200px;
}


.topic-categories {
    margin-left: 50px;
}

a.bodyLink {
    text-decoration: none;
    color: white;
}

a.bodyLink:hover {
    color: lightsalmon;
}

a.sideProject {
    text-decoration: none;
    color: white;
}

a.sideProject:hover {
    color: greenyellow;
    cursor: pointer;
}

a.link {
    margin-left: 35px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

ul {
    list-style-type: none;
}

#labeled {
    color: white;
}

#labeled:hover {
    cursor: pointer;
}

#dplan, #bacon, #pos {
    cursor: pointer;
}
.project:hover{
    cursor: pointer;
    color: white;
}

#court-info, #dplan-info, #athena-info, #peertech-info, #accountable-info, #clari-info, #tipcalc-info {
    display:none;
}

#software-projects, #ml-projects, #writing-projects { 
    display: none;
}

#project-sections{
    margin-top: 50px;
}

.section-header:hover {
    cursor: pointer;
}
  


