body {
    background-color: #1b1e23;
    color: white;
}

.container {
    margin-top: 50px;
    font-family: relative-book-pro, Roboto, system-ui, -apple-system, BlinkMacSystemFont;
    font-weight: 400;
    margin-left: 400px;
}

.dinosaurContainer {
    margin-top: 100px;
    text-align: center;
    font-family: relative-book-pro, Roboto, system-ui, -apple-system, BlinkMacSystemFont;
}

#backDino {
    margin-right: 600px;
}

 #connectBtn {
    margin-top: 200px;
    margin-right: 150px;
} 



/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: relative-book-pro, Roboto, system-ui, -apple-system, BlinkMacSystemFont;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.selectStuff {
    text-align: center;
    float: left;
    margin-left: 250px;
}

#about-tag:hover {
    cursor: pointer;
}

#about-tag {
    margin-left: 200px;
}


.topic-categories {
    margin-left: 50px;
}

.topic-articles {
    margin-left: 100px;
}

a.bodyLink {
    text-decoration: none;
    color: white;
}

a.bodyLink:hover {
    color: lightsalmon;
}

a.sideProject {
    text-decoration: none;
    color: white;
}

a.sideProject:hover {
    color: greenyellow;
    cursor: pointer;
}

a.link {
    margin-left: 35px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

ul {
    list-style-type: none;
}

#labeled {
    color: white;
}

#labeled:hover {
    cursor: pointer;
}

#dplan, #bacon, #pos {
    cursor: pointer;
}
.project:hover{
    cursor: pointer;
    color: white;
}

#court-info, #dplan-info, #athena-info, #peertech-info, #accountable-info, #clari-info, #tipcalc-info {
    display:none;
}

#software-projects, #ml-projects, #writing-projects { 
    display: none;
}

#project-sections{
    margin-top: 50px;
}

.section-header:hover {
    cursor: pointer;
}
  


#resultsDiv {
    display: none;
    text-align: center;
    margin-top: 50px;
    border: 1px solid yellow;
}


